{% extends 'base.html' %}

{% block content %}

<h1 class="title">Blog Feed</h1>

<div class="posts-grid">

{% for post in posts %}

<div class="card">

    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}

    <div class="card-body">

        <h2>{{ post.title }}</h2>

        <p>
            {{ post.content|truncatechars:120 }}
        </p>

        <a class="btn" href="/post/{{ post.id }}/">
            Oxu
        </a>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}