{% extends 'base.html' %}

{% block content %}

<h1>{{ request.user.username }}</h1>

<a class="btn" href="/create/">
    Yeni Post
</a>

<div class="posts-grid">

{% for post in posts %}

<div class="card">

    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}

    <div class="card-body">

        <h2>{{ post.title }}</h2>

        <p>{{ post.content|truncatechars:100 }}</p>

        <a class="btn" href="/edit/{{ post.id }}/">
            Edit
        </a>

        <a class="btn danger" href="/delete/{{ post.id }}/">
            Delete
        </a>

    </div>

</div>

{% empty %}

<p>Hələ post yoxdur.</p>

{% endfor %}

</div>

{% endblock %}